#pagination-container {
  display: flex;
  justify-content: center;
}
#pagination {
  display: flex;
}
#pagination-list {
  display: flex;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
}
.pagination-button {
  display: flex;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pagination-list-item {
  margin-right: 10px;
}
.pagination-list-item.active {
  background: black;
  color: white;
}
.pagination-go-first {
  margin-right: 40px;
  position: relative;
  margin-left: 10px;
}
.pagination-go-first:before {
  position: absolute;
  content: '...';
  right: -33px;
}
.pagination-go-last {
  margin-left: 40px;
  position: relative;
  margin-right: 10px;
}
.pagination-go-last:before {
  position: absolute;
  content: '...';
  left: -33px;
}
